@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  /* font-display: swap; */
  src: url('/fonts/gilroy-regular.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  /* font-display: swap; */
  src: url('/fonts/gilroy-extrabold.woff2') format('woff2');
}
