@tailwind base;

@layer base {
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    /* font-display: swap; */
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    /* font-display: swap; */
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy-extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    /* font-display: swap; */
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy-black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    /* font-display: swap; */
  }
}

@tailwind components;

@tailwind utilities;
