@tailwind base;

@layer base {
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy-extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy-black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  h1, h2, h3, h4, h5, h6{
    @apply font-extrabold;
  }

  h1 {
    @apply text-5xl md:text-6xl lg:text-7xl xl:text-8xl;
  }
  h2 {
    @apply text-5xl md:text-6xl lg:text-7xl xl:text-8xl;
  }
  h3 {
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
  }
  h4 {
    @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
  }
  h5 {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
  }
  h6 {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl;
  }
}

@tailwind components;

@tailwind utilities;
